USE [PizzaOrder]
GO
/****** Object:  Table [dbo].[PizzaTbl]    Script Date: 10.4.2026 12.59.58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PizzaTbl](
	[Item] [nchar](100) NOT NULL,
	[Price] [int] NOT NULL,
 CONSTRAINT [PK_PizzaTbl] PRIMARY KEY CLUSTERED 
(
	[Item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
